footer.footer
  .d-sm-flex.justify-content-center.justify-content-sm-between
    span.text-muted.d-block.text-center.text-sm-left.d-sm-inline-block Copyright &copy; Admin   
    span.float-none.float-sm-right.d-block.mt-1.mt-sm-0.text-center
      |  Admin Node Working
    //-   a(href='https://www.bootstrapdash.com/bootstrap-admin-template/' target='_blank') 
      
